:root {
  --header-height: 3.5rem;

  --first-color: hsl(268, 58%, 48%);
  --first-color-alt: hsl(268, 28%, 38%);
  --second-color: hsl(335, 88%, 56%);
  --second-color-alt: hsl(328, 78%, 38%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(252, 100%, 87%);
  --body-color: hsl(268, 58%, 22%);

  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
header {
  position: relative;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}
header nav .nav_logo {
  font-size: 1.25rem;
  font-size: initial;
  color: var(--text-color);
}

@media screen and (max-width: 1023px) {
  header nav .nav_menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    justify-content: center;
    box-shadow: 0 0 16px hsla(268, 58%, 4%, 0.2);
    padding: 6rem 3rem;
    transition: 0.3s;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
  }
}
header nav .nav_menu ul {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
header nav .nav_menu .nav-login {
  color: var(--text-color);
  text-align: center;
  border: 2px var(--text-color) solid;
  border-radius: 40px;
  width: max-content;
  padding: 15px 40px;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
}
header nav .nav_menu .nav-login:hover {
  background-color: var(--text-color);
  color: var(--body-color);
}
header nav .nav_menu ul li a {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  transition: 0.4s;
}
header nav .nav_menu ul li a:hover {
  color: var(--title-color);
}
.nav_close,
.nav_toggle {
  background-color: var(--first-color-alt);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav_close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 24px;
}
/* Navigation for mobile devices */

/* Show menu */

.show-menu {
  right: 0 !important;
}
/*=============== HOME ===============*/
.home {
  max-height: calc(100vh - 70px);
  position: relative;
}
.home .home_container {
  padding-top: 1rem;
  display: grid;
  row-gap: 3rem;
}
.home .home_content {
  text-align: center;
}
.home .home_content h3 {
  font-size: var(--small-font-size);
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}
.home .home_content h1 {
  font-size: var(--biggest-font-size);
  position: relative;
  width: max-content;
  margin: 0 auto 0.75rem;
  color: var(--title-color);
}
.home .home_content h1 img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.home .home_content h1 span {
  position: relative;
  z-index: 5;
}
.home .home_content p {
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
.home_button {
  display: inline-block;
  background: linear-gradient(
    180deg,
    var(--second-color),
    var(--second-color-alt)
  );
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  border-radius: 4rem;
  padding: 1.125rem 3rem;
  box-shadow: 0 8px 32px hsla(268, 58%, 4%, 0.3),
    inset 0 4px 8px hsl(0, 0%, 100%, 0.4);
}
.home .home_images {
  position: relative;
  display: flex;
  justify-content: center;
  height: 250px;
}
.home .home_images img {
  position: absolute;
}
.home .home_images .points {
  width: 320px;
  top: -1rem;
}
.home .home_images .rocket {
  width: 220px;
}
.home .home_images .planet1 {
  width: 110px;
  top: 1.25;
  left: 0.75rem;
}
.home .home_images .planet2 {
  width: 70px;
  right: 0;
  top: -1.25rem;
}
.home .cloud1,
.home .cloud2 {
  position: absolute;
  bottom: 0;
  max-width: initial;
}
.home .cloud2 {
  width: 500px;
  right: -4rem;
}
.home .cloud1 {
  width: 700px;
  right: -6rem;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .container {
    margin-inline: 1rem;
  }
  .home .home_content h1 {
    font-size: 1.75rem;
  }
  .home .home_container {
    padding-top: 1rem;
  }
}
/* For taller devices */
@media screen and (min-width: 376px) and (min-height: 800px) {
  .home .home_container {
    padding-top: 10rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .home .home_container {
    grid-template-columns: 400px;
    justify-content: center;
  }
  header nav .nav_menu {
    width: 60%;
  }
  .home .cloud2 {
    width: 80%;
  }
  .home .cloud1 {
    width: 100%;
    left: 0;
  }
  .home .cloud2 {
    right: 0rem;
}
}
@media screen and (min-width: 767px) {
  .home {
    display: grid;
    place-content: center;
    position: initial;
  }
  .home .home_container {
    grid-template-columns: repeat(2, 350px);
    padding-top: 7rem;
  }
  .home .home_content {
    text-align: initial;
  }
  .home .home_content h1 {
    margin-inline: 0;
  }
}
/* For large devices */
@media screen and (min-width: 1023px) {
  header nav {
    height: calc(var(--header-height) + 2);
  }
  .nav_close,
  .nav_toggle {
    display: none;
  }
  header nav .nav_menu {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 4.5rem;
  }
  header nav .nav_menu ul {
    margin-left: auto;
    flex-direction: row;
    column-gap: 4.5rem;
  }
}
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
  .home {
    position: relative;
  }
  .home .home_container {
    grid-template-columns: 460px 650px;
    align-items: center;
    z-index: 5;
    padding-top: 3rem;
  }
  .home .home_content h3 {
    font-size: var(--normal-font-size);
    margin-bottom: 0.75rem;
  }
  .home .home_content h1 {
    letter-spacing: -3px;
    margin-bottom: 1rem;
  }
  .home .home_content h1 img {
    width: 250px;
    right: -0.75rem;
  }
  .home .home_content p {
    font-size: var(--h3-font-size);
    margin-bottom: 3rem;
  }
  .home .home_images {
    height: 450px;
  }
  .home .home_images .points {
    width: 100%;
    top: -2rem;
    right: -1rem;
  }
  .home .home_images .rocket {
    width: 450px;
  }
  .home .home_images .planet1 {
    width: 210px;
    left: 5rem;
  }
  .home .home_images .planet2 {
    width: 130px;
    right: -2rem;
  }
  .home .cloud1,
  .home .cloud2 {
    bottom: -3rem;
  }
}
